<!-- SCHEDULE -->
<div class="container-fluid" style="width:100vw;min-height:100vh;margin:0;padding:0" (mousemove)="stopHighlight()">
<table class="container-fluid table table-borderless">
  <thead class="navbar-light bg-light ">
    <tr>
      <th scope="col" style="background-color:white"></th>
      <th scope="col">Sunday</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of myTimes">
      <td scope="row" class="time-td">{{ t }}</td>
      <td scope="row" *ngFor="let wd of shortDays">
        <div *ngFor="let crse of myCourses">
          <div class="card courseCard" *ngIf="crse.time.includes(t) && crse.days.includes(wd)" style="padding:1rem !important" [ngStyle]="{'opacity':crse.preview && crseHighlight !== crse ? 0.5 : 1.0}" [ngClass]="{'text-white': !crse.preview, 'bg-secondary': !crse.preview, 'border-primary': crseHighlight === crse}" (click)="crse.preview=!crse.preview" (mouseenter)="crseHighlight=crse" (mousemove)="$event.stopPropagation()">
            <div class="card-body" style="padding:0.25rem">
              <p style="width:auto;font-size:0.5em;overflow:visible;margin-left:-16px;margin-top:-16px;color:#666;">{{ crse.crn }}</p>
              <div style="float:right;position:absolute;margin-left:63%;margin-top:-15%;"><p style="display:contents;font-size:0.5em;color:#666;margin-top:-30px;margin-right:-16px;">{{ crse.crse }}</p><span class="badge badge-primary" style="float:right;margin-left:6px;margin-top:5px">{{ crse.sec }}</span></div>
              <p class="card-text" style="font-size:0.8em;">{{ crse.title }}</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- ADD COURSE -->
<p>
  <button class="btn btn-primary searchToggle" type="button" (mouseup)="$event.target.style.transform='rotate(' + (searchVisible?'':'-') + '90deg)';toggleSearch()">
    +
  </button>
</p>

<!-- PREVIEW -->
<div class="container-fluid searchPreview">
<!--
  <ul class="list-group suggestions" id="searchPreview">
    <li *ngFor="let sec of this.sections" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" (mouseup)="addClass(sec)">
      {{ sec.title }}
      <span class="badge badge-primary badge-pill">{{ sec.sec }}</span>
    </li>
  </ul>
-->
  <form class="form-inline my-2 my-lg-0" id="collapseSearch">
    <input class="form-control mr-sm-2" autofocus id="courseSearch" type="search" placeholder="SUBJ CRSE" aria-label="Search" (keyup)="updatePreview()">
  </form>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary botbar" [ngClass]="{'hidden': crseHighlight === null}">
  <a class="navbar-brand" href="#" *ngIf="crseHighlight !== null">{{ crseHighlight.title }} <span class="badge badge-secondary">{{ crseHighlight.sec }}</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="crseHighlight !== null">{{ crseHighlight.crn }}<small class="text-muted">CRN</small></li>
      <li class="nav-item" *ngIf="crseHighlight !== null">{{ crseHighlight.crse }}<small class="text-muted">Course Number</small></li>
      <li class="nav-item" *ngIf="crseHighlight !== null">{{ crseHighlight.instructor }}<small class="text-muted">Instructor</small></li>
      <li class="nav-item" *ngIf="crseHighlight !== null">{{ crseHighlight.location0 }}<small class="text-muted">Location</small></li>
      <li class="nav-item" *ngIf="crseHighlight !== null">{{ crseHighlight.days }}<small class="text-muted">Days</small></li>
    </ul>
  </div>
</nav>
</div>
