.time-td {
  background-color: transparent;
  color: grey;
  font-size: 0.7em;
  min-width: 80px;
}
.time-td:after {
  display: block;
  position: absolute;
  content: "";
  width: 100vw;
  height: 1px;
  background-color: #EEE;
}
table th {
  text-align: center;
  border-color: white;
  border-width: 5px;
  background-color: #6ca8f3;
  color: white;
  font-weight: 100;
}
.bg-secondary * {
  color: white !important;
}

.courseCard {
  background-color: white;
}

.searchPreview {
  width: 100vw;
  max-width: 500px;
  background-color: white;
  margin: 20px 10px;
}
.searchPreview .suggestions {
  position: absolute;
  display: static;
  box-shadow: 0 0 20px grey;
  margin-top: 76px;
  z-index: 20;
}

.searchToggle {
  position: fixed;
  right: 90px;
  bottom: 76px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 15px;
  padding-bottom: 10px;
  padding-top: 0.15em;
  font-size: 2em;
  font-weight: 100;
  box-shadow: 0 0 30px #CCC;
  z-index: 10;
  transform: rotate(-90deg);
  transition: transform 300ms linear;
}
form input {
  background-color: white;
}
#collapseSearch {
  position: fixed;
  right: 110px;
  bottom: 80px;
}
#courseSearch {
  transition: margin 300ms, opacity 300ms;
}
#courseSearch.hidden {
  margin-right: -20px !important;
  opacity: 0;
  pointer-events: none;
}
.botbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  min-height: 50px;
  width: 100vw;
  transition: bottom 300ms, opacity 300ms;
}
.botbar.hidden {
  bottom: -5px;
  opacity: 0;
  pointer-events: none;
}
.botbar .nav-item small {
  color: white !important;
  margin-left: 3px;
  margin-right: 20px;
  font-size: 0.6em;
}
